이번 장에서는 쉽기도 하고, 어렵기도 한? 리스트를 여러 스킬로 다뤄보는 방법에 대해 알아보자

** 리스트 append와 +- 오퍼레이션의 미묘한 역할 차이 **

In [ ]:
nums = [1,2,3]

In [ ]:
output = []
for i in nums:
  output += [i]
print(output)

[1, 2, 3]

In [ ]:
output = []
for i in nums:
  output.append(i)
print(output)

[1, 2, 3]

In [ ]:
# [] 리스트 안에 not iterable 성격의 int가 들어갈 수 없음
output = []
for i in nums:
  output += i
print(output)

TypeError: ignored

In [ ]:
output = []
for i in nums:
  output += str(i)
print(output)

['1', '2', '3']

2차원 리스트 [[]]

In [ ]:
output = [[]]
for i in nums:
  output.append(i)
print(output)

[[], 1, 2, 3]

In [ ]:
output = [[]]
for i in nums:
  output += str(i)
print(output)

[[], '1', '2', '3']

##여기서 차이점 발생

1차원 리스트에서는 아래 두 구문의 결과가 같았지만,

2차원 리스트에서는 append와 +-에 따라 결과가 달라진다

In [ ]:
output = [[]]
for i in nums:
  output.append([i])
print(output) # row : 4 / col : 1

[[], [1], [2], [3]]

In [ ]:
output = [[]]
for i in nums:
  output += [i]
print(output) # 이건 1차원 리스트임

[[], 1, 2, 3]

In [ ]:
output = [[]]
for i in nums:
    output.append([[i]])
print(output)

[[], [[1]], [[2]], [[3]]]

In [ ]:
output = [[]]
for i in nums:
    output += [[i]]
print(output)

[[], [1], [2], [3]]

##리스트의 덧셈 연산

In [ ]:
print([] + [2])

[2]

In [ ]:
print([2]+[1])

[2, 1]

In [ ]:
print([2]*10) #이렇게 생각할 수도 있음 -> 착각하기 쉬운 요소 [ [2],[2],[2].....[2] ]

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

##리스트 나열

In [21]:
arr = [1,2,3,4,5,6,7]

print(arr[::])

[1, 2, 3, 4, 5, 6, 7]

In [22]:
print(arr[::1])

[1, 2, 3, 4, 5, 6, 7]

In [23]:
print(arr[::2])

[1, 3, 5, 7]

In [25]:
print(arr[::3])

[1, 4, 7]

In [26]:
print(arr[::-1])

[7, 6, 5, 4, 3, 2, 1]

In [27]:
print(arr[::-2])

[7, 5, 3, 1]

In [28]:
print(arr[::-3])

[7, 4, 1]